python >= 3.8
numpy == 1.22.2
pandas == 1.4.1
tflite_model_maker == 0.3.4
tflite_suport == 0.3.1
tensorflow == 2.8.0
absl-py == 1.0.0
opencv-python-headless==4.5.2.52
open-cv == 4.5.2
Pillow == 9.0.1
python-dateutil == 2.8.2
pytz == 2021.3
six == 1.16.0
astunparse == 1.6.3
flatbuffers == 2.0.0
gast == 0.5.1
google-pasta == 0.2.0
grpcio == 1.44.0
h5py == 1.8.4
keras == 2.7.0
libclang == 13.0.0
opt-einsum == 3.3.0
protobuf == 3.19.3
setuptools == 60.1.1
tensorboard == 2.8.0
termcolor == 1.1.0
tf-estimator-nightly == 2.9.0
typing-extensions == 4.0.1
wrapt == 1.13.3
